* {
    box-sizing: border-box;
}

.content {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-auto-rows: 100%;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
  }

.box1 {
    background-color: rgb(255, 255, 255);
}

.box2 {
    align-self: stretch;
    background-color: #BBBBBA;
}

.text {
    z-index: 10;
    position: absolute;
    padding-left: 15%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1300%;
    color: rgb(0, 0, 0);
}

h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 600%;
    color: rgb(167, 34, 34);
    text-align: center;
    padding-top: 70%;
}
