@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Lato&display=swap');

* {
    box-sizing: border-box;
}

.grid {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(90px, auto);
    grid-gap: 20px;
    text-align: center;
    
}

h1 {
    color: #ffffff;
    font-family: Roboto;
}

.one {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: rgb(1, 118, 160);
    opacity: 0.5;
}

.two {
    grid-column: 3;
    grid-row: 1/3;
    background-color: blue;
    opacity: 0.5;
}

.three {
    grid-column: 2/4;
    grid-row: 3;
    background-color: blueviolet;
    opacity: 0.5;
}

.four {
    grid-column: 1;
    grid-row: 2/4;
    background-color: crimson;
    opacity: 0.5;
}