/* ___FONTS AND BODY CONTENT________________________________________*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #a5ff87;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0px;
}


#content {
    background-color: #ffffff;
    max-width: 1300px;
    margin: 0 auto;
}

/* ___HEADER________________________________________ */

header {
    background-image: linear-gradient(0deg, #F1FAEE, #F1FAEE, rgb(200, 203, 234));
    display: grid;
    grid-template-columns: 800px auto;
}

nav {
    z-index: 9;
    display: flex; 
    justify-content: space-around;
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 0.8em;
    text-decoration: none;
    padding: 10px;
    text-align: right;
}

nav a {
    padding: 25px;
    color: #22577A;
    text-decoration: none;
}

nav a:hover {
    color: #57CC99;
}

/* ___LOGO________________________________________ */

#logo_link {
    padding-top: 5px;
    padding-left: 50px;
    justify-self: left;
    align-self: center;
}

.logo {
    width: 250px;
    height: 100%;
}

/* ___HERO________________________________________*/

/* ___HERO__background image_________*/
#herohome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    text-align: center;
}

#herohome-home {
    grid-column: 1/6;
    grid-row: 1/1;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

#herohome-img {
    width: 100%;
}

/* ___HERO__first text over image__________*/
#herohome-msg {
    grid-column: 4/6;
    grid-row: 1/1;
    margin-top: -20px;
    padding-right: 100px
}
/* ___HERO__second text over image_________*/
.herohome-title {
    margin-top: 200px;
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 1.5em;
}

.herohome-subtitle {
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 1em;
    color: #1D3557;
}

/* ___below hero_________*/
.homegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 1300px; 
    margin-top: 50px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

/* ___3 images_________*/
.homecard-img {
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.homecard-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/* ___image 1_________*/
.home-card1 {
    margin: 100px 0;
}

.home-card1 {
    grid-column: 2/4;
    grid-row: 2/3;
}

/* ___image 2_________*/
.home-card2 {
    margin: 100px 0;
}

.home-card2 {
    grid-column: 5/7;
    grid-row: 2/3;
}

/* ___image 3_________*/
.home-card3 {
    margin: 100px 0;
}

.home-card3 {
    grid-column: 8/10;
    grid-row: 2/3;
}

.doctors {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    padding-bottom: 100px;
}

.home-card-msg {
    grid-column: 8/10;
    grid-row: 5/7;
    line-height: 1.5em;
}

#home-card4 {
    grid-column: 1/11;
    grid-row: 4/9;
    padding-bottom: 200px;
}

/* ___FOOTER________________________________________*/

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1D3557;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #38A3A5;
    text-decoration: none;
    max-width: 1300px;
    margin: 0 auto;
}

footer a {
    color: #457B9D;
}

footer a:hover {
    color: #57CC99;
}

/* ___icon_________*/
.socialicon {
    width: 40px;
    padding: 10px;
    border-radius: 20px;
}

.social {
    text-decoration: none;
    padding-top: 15px;
    margin-right: 15px;
}

h3 {
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 0.8em;
}

/* ___________________________________________*/
/* ___________________________________________*/
/* ___________________________________________*/
/* ___DASHBOARD PAGE__________________________*/


#dashherohome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    text-align: center;
}

#dashherohome-home {
    grid-column: 1/6;
    grid-row: 1/1; 
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

#dashherohome-img {
    width: 100%;
}

/* ___HERO__first text over image_________*/
#dashherohome-msg {
    grid-column: 3/6;
    grid-row: 1/1;
    margin-top: 10px;
    padding-right: 100px;
}
/* ___HERO__second text over image_________*/
.dashherohome-title {
    margin-top: 80px;
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 1.5em;
}

.dashherohome-subtitle {
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 1em;
    color: #1D3557;
}

/* ___below hero_________*/
.dashhomegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 1300px;  
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    background-color: rgb(255, 255, 255);
}

.dashdoctors {
    width: 100%;
    grid-column: 2/6;
/*    grid-column: 2/5;  */
/*    grid-row: 2/8; */
/*    padding-bottom: 100px; */
}

.dashhome-card-msg {
    grid-column: 7/10;
/*    grid-row: 5/7; */
    line-height: 1.5em;
}

p {
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 0.8em; 
    text-align: justify;
}

.dashhome-text {
    grid-column: 2/10;
    grid-row: 2/3;
}

/* ___3 images_________*/
.dashhomecard-img {
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.homecard-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/* ___image 1_________*/
.dashhome-card1 {
    margin: 100px 0;
}

.dashhome-card1 {
    grid-column: 2/4;
    grid-row: 3/3;
}

/* ___image 2_________*/
.dashhome-card2 {
    margin: 100px 0;
}

.dashhome-card2 {
    grid-column: 5/7;
    grid-row: 3/3;
}

/* ___image 3_________*/
.dashhome-card3 {
    margin: 100px 0;
}

.dashhome-card3 {
    grid-column: 8/10;
    grid-row: 3/3;
}

/* ___________________________________________*/
/* ___________________________________________*/
/* ___________________________________________*/
/* ___EXAM PAGE_______________________________*/


#examherohome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    text-align: center;
}

#examherohome-home {
    grid-column: 1/6;
    grid-row: 1/1; 
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

#examherohome-img {
    width: 100%;
}

/* ___HERO__first text over image_________*/
#examherohome-msg {
    grid-column: 3/6;
    grid-row: 1/1;
    margin-top: 80px;
    margin-right: 100px;
}
/* ___HERO__second text over image_________*/
.examherohome-title {
    margin-top: 5px;
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 1.5em;
}

.examherohome-subtitle {
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 1em;
    color: #1D3557;
}

/* ___below hero_________*/
.examhomegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1300px;  
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
}

/* ___3 images_________*/
.examcard-img {
    width: 100%;
    transition: transform .5s;
}

.examcard-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/* ___image 1_________*/
.exam-card1 {
    margin: 20px 0;
}

.exam-card1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

/* ___image 2_________*/
.exam-card2 {
    margin: 20px 0;
}

.exam-card2 {
    grid-column: 4/5;
    grid-row: 1/2;
}

/* ___image 3_________*/
.exam-card3 {
    margin: 20px 0;
}

.exam-card3 {
    grid-column: 6/7;
    grid-row: 1/2;
}
/* ___image 4_________*/
.exam-card4 {
    margin: 20px 0;
}

.exam-card4 {
    grid-column: 8/9;
    grid-row: 1/2;
}

/* ___image 5_________*/
.exam-card5 {
    margin: 20px 0;
}

.exam-card5 {
    grid-column: 10/11;
    grid-row: 1/2;
}
/* ___image 6_________*/
.exam-card6 {
    margin: 20px 0;
}

.exam-card6 {
    grid-column: 2/3;
    grid-row: 2/2;
}
/* ___image 7_________*/
.exam-card7 {
    margin: 20px 0;
}

.exam-card7 {
    grid-column: 4/5;
    grid-row: 2/2;
}
/* ___image 8_________*/
.exam-card8 {
    margin: 20px 0;
}

.exam-card8 {
    grid-column: 6/7;
    grid-row: 2/2;
}
/* ___image 9_________*/
.exam-card9 {
    margin: 20px 0;
}

.exam-card9 {
    grid-column: 8/9;
    grid-row: 2/2;
}
/* ___image 10_________*/
.exam-card10 {
    margin: 20px 0;
}

.exam-card10 {
    grid-column: 10/11;
    grid-row: 2/2;
}


/* ___text below images_________*/
.exam-text {
    grid-column: 2/11;
    grid-row: 3/4;
}
/* ___image 11_________*/
.exam-card11 {
    margin: 20px 0;
}

.exam-card11 {
    grid-column: 2/5;
    grid-row: 4/4;
}
/* ___side image with text_________*/
.examcarg11img {
    width: 100%;
    padding-top: 30px;
    border-radius: 0px 0px 0px 50px;
}

.examcard11text {
    padding-left: 20px;
    padding-top: 30px;
    grid-column: 6/11;
    grid-row: 4/5;
}

/* ___image 12_________*/
.exam-card12 {
    margin: 20px 0;
}

.exam-card12 {
    grid-column: 2/5;
    grid-row: 5/5;
}

/* ___side image with text_________*/
.examcarg12img {
    width: 100%;
    padding-bottom: 80px;
    border-radius: 50px 0px 0px 0px;
}

.examcard12text {
    padding-left: 20px;
    grid-column: 6/11;
    grid-row: 5/5;
}

/* ___button_________*/
.button-box {
    padding-bottom: 60px;
    padding-top: 20px;
}

.book {
    background-color: #1D3557;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #57CC99;
    color: rgb(255, 255, 255);
}